<%- include('partials/header'); %>

<h2>Final Rooms:</h2>


<%Object.entries(rooms).forEach(function(room) {%>
  <h3><%=room[0]%></h3>
  <ul>
    <%room[1].occupants.forEach(function(id) {%>
      <li><%=players[id].name%></li>
    <%});%>
  </ul>
<%});%>

<%- include('partials/footer'); %>
