<%- include('partials/header'); %>


<h2>Are you sure you want to reset the game?</h2><br><br>
<form action="/resetGame" method="post">
  <button class="btn btn-danger" type="submit">Yes, Reset Game.</button>
</form>

<%- include('partials/footer'); %>
