<%- include('partials/header'); %>


<div class="col-lg-12">
  <form action="/" method="post">
    <div class="form-check">
      <h2 class="display-2">Rooms Available:</h2><br>
      <label class="form-check-label">How many rounds would you like to play?</label>
      <input class="form-check-input" type="number" name="rounds" value="rounds" min="10" max="100"><br/><br>
      <button type="submit" name="button" class="btn btn-primary">Begin Game</button>
    </div>
  </form>
</div>


<%- include('partials/footer'); %>
